﻿/* General */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a:link {
	text-decoration: none;
	color: #2c417f;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
a:visited {
	text-decoration: none;
	color: #2c417f;
}
a:hover {
	text-decoration: none;
	color: #233b6d;
}
a:active {
	text-decoration: none;
	color: #233b6d;
}
h1, h2.features-h {
	font-family: 'Poppins', sans-serif;
	font-size: 23px;
	font-weight: 600;
	text-align: center;
}
h2 {
	font-size: 35px;
	font-weight: 300;
}
/* .d-table {
	display: table;
}
.d-tr {
	display: table-row;
}
.d-td {
	display: table-cell;
	vertical-align: middle;
} */
.mar0 {
	margin: 0 !important;
}
.pad0 {
	padding: 0 !important;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

/* ------ */

body {
	margin: 0 auto;
	background: #ebeff6;
	padding-top: 90px;
	color: #2c417f;
	font-family: 'Montserrat', sans-serif;
}




/* CONTAINER */

.container {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, .97);
	width: 100%;
	height: 90px;
	box-shadow: 0 0 30px rgba(44, 70, 125, .1);
	z-index: 2;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.logo {
	width: 200px;
	height: 44px;
	margin-top: 23px;
	background: url(icons/logo.svg) no-repeat left center;
	background-size: 200px;
	-webkit-transition: all .3s, width .2s;
	-moz-transition: all .3s, width .2s;
	transition: all .3s, width .2s;
}
.container-inner {
	margin: auto;
	width: 960px;
	height: 100%;
	font-size: 20px;
}
.quick-info {
	line-height: 90px;
    margin-left: 30px;
    -webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
#qi_1, #qi_0 {
	/*-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;*/
}
ul.inline {
	list-style: none;
}
ul.s-name {
	display: none;
}
ul.inline > li {
	display: inline-block;
}
ul.inline > li.pad10 {
	padding-left: 10px;
}
ul.inline > li.padr10 {
	padding-right: 10px;
}
ul.inline > li.pad10-10 {
	padding: 0 10px;
}
ul.inline > li.pad30 {
	padding-left: 30px;
}
.lang-frame {
	text-align: right;
	line-height: 90px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.lang {
	background: url(icons/globe.svg) no-repeat left center;
	padding-left: 33px;
}
.res-l1 {
	display: inline-block;
}
.res-l2 {
	display: none;
}
.res-menu {
	background: url(icons/menu.svg) no-repeat left center;
	width: 30px;
	height: 100%;
	margin-left: 25px;
	cursor: pointer;
	display: none;
}



/* MAIN */

.main {
	margin: auto;
	width: 960px;
	margin-top: 80px;
}
.headline-p {
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	font-weight: 600;
}
.q-mark {
	display: inline-block;
	width: 25px;
	/*line-height: 43px;*/
	background: url(icons/q-mark.svg) no-repeat center;
	margin-left: 10px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0);
}
.email {
	margin-top: 61px;
	height: 86px;
}
.email-box-frame {
	float: left;
	width: 629px;
}
.email-gen {
	display: inline-block;
	float: left;
	box-shadow: 0 0 30px rgba(44, 70, 125, .1);
}
.email-box {
	width: 522px;
	line-height: 86px;
	background: #fff;
	border-right: none;
	border-radius: 13px 0 0 13px;
	font-size: 42px;
	text-align: center;
	font-weight: 700;
}
.copy-email {
	width: 107px;
	height: 86px;
	background: url(icons/copy.svg) no-repeat center #fff;
	border-radius: 0 13px 13px 0;
	cursor: pointer;
}
.cpy-email {
	display: none;
}
.signup-to {
	display: none;
	background: #fff;
	margin-top: 20px;
	float: right;
	width: 100%;
	padding: 10px;
	opacity: 0;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
.close-small {
	width: 15px !important;
	height: 15px !important;
	margin-top: -23px !important;
}
.all-icons {
	display: inline-block;
	padding: 10px;
	padding-left: 30px;
	border-radius: 3px;
}
.pntr {
	cursor: pointer;
}
.signup-to-h {
	margin-bottom: 5px;
}
.facebook-icon {
	background: url(icons/facebook.svg) no-repeat left center;
	color: #3b5998;
}
.twitter-icon {
	background: url(icons/twitter.svg) no-repeat left center;
	color: #00aced;
}
.instagram-icon {
	background: url(icons/instagram.svg) no-repeat left center;
	color: #517fa4;
}
.netflix-icon {
	background: url(icons/netflix.svg) no-repeat left center;
	color: #e6432d;
}
.linkedin-icon {
	background: url(icons/linkedin.svg) no-repeat left center;
	color: #007bb6;
}
.tumblr-icon {
	background: url(icons/tumblr.svg) no-repeat left center;
	color: #32506d;
}
.pinterest-icon {
	background: url(icons/pinterest.svg) no-repeat left center;
	color: #cb2027;
}
.vk-icon {
	background: url(icons/vk.svg) no-repeat left center;
	color: #4a76a8;
}
.whatsapp-icon {
	background: url(icons/whatsapp.svg) no-repeat left center;
	color: #075e54;
}
.facebook-messenger-icon {
	background: url(icons/facebook-messenger.svg) no-repeat left center;
	color: #0084ff;
}
.telegram-icon {
	background: url(icons/telegram.svg) no-repeat left center;
	color: #0088cc;
}
.viber-icon {
	background: url(icons/viber.svg) no-repeat left center;
	color: #59267c;
}
.sms-icon {
	background: url(icons/sms.svg) no-repeat left center;
	color: #f1b132;
}
.wechat-icon {
	background: url(icons/wechat.svg) no-repeat left center;
	color: #7bb32e;
}
.blutv-icon {
	background: url(icons/blutv.svg) no-repeat left center;
	color: #0372fb;
}
.puhutv-icon {
	background: url(icons/puhutv.svg) no-repeat left center;
	color: #181818;
}
.countdown-frame {
	float: left;
	width: 331px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.countdown-gen {
	display: inline-block;
	float: right;
}
.countdown {
	font-family: 'Poppins', sans-serif;
	height: 68px;
	font-size: 50px;
	font-weight: 700;
	padding: 6.25px 0;
}
.monospace {
	display: inline-block;
	width: 33.61px;
	text-align: center;
	margin: 0 -6.5px;
}
.reagent {
	margin: 0 -10px;
}
#ssec1, #ssec0, #reagent0 {
	font-weight: 300;
}
.giveme60 {
	background: url(icons/time.svg) no-repeat right center;
	width: 30px;
	height: 30px;
	margin-left: 25px;
	margin-top: 28px;
	cursor: pointer;
}
.giveme60btn {
	display: inline-block;
	background: url(icons/time.svg) no-repeat center;
	background-size: 22px;
	width: 22px;
	line-height: 32px;
	color: rgba(0, 0, 0, 0);
	padding: 0 12px;
}

.mailbox {
	margin: 0;
	margin-top: 125px;
	/*margin-top: 145px;*/
	width: 960px;
	background: #fff;
	border-radius: 10px;
	float: left;
}
.mailbox-headline {
	background: #fcfcfd;
	border-radius: 10px 10px 0 0;
	height: 68px;
}
.mailbox-head-gen {
	display: inline-block;
	float: left;
}
.mailbox-head {
	font-family: 'Poppins', sans-serif;
	font-size: 23px;
	font-weight: 700;
	margin-left: 26px;
	line-height: 68px;
}
.refresh {
	display: inline-block;
	background: url(icons/refresh.svg) no-repeat center;
	width: 24px;
	height: 24px;
	margin-top: 22px;
	margin-left: 10px;
	cursor: pointer;
}
.mailbox-inner {
	text-align: center;
	font-size: 23px;
}
.no-mail {
	padding: 30px 0;
}
.mail {
	background: #f0f0f5;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #eff1f7;
	font-size: 18px;
	text-align: left;
	cursor: pointer;
}
.opnd {
	background: #fff;
}
.opndrd {
	border-left: 6px solid #c9cede !important;
}
.mail-from {
	width: 220px;
	border-left: 6px solid #2b4080;
	display: inline-block;
	font-weight: 600;
	padding-left: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mail-content {
	display: inline-block;
	font-weight: 500;
	padding-left: 10px;
	width: 720px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.total-mail {
	font-size: 15px;
	font-weight: 500;
	padding: 10px 0;
}
.sad-icon {
	background: url(icons/sad.svg) no-repeat center;
	width: 75px;
	height: 75px;
	margin: auto;
}
.no-mail-text {
	margin-top: 10px;
}



/* FOOTER */


.footer {
	margin: auto;
	width: 100%;
	height: 25px;
	margin-top: 40px;
	font-size: 15px;
	margin-bottom: 30px;
	float: left;
}
.footer-inner {
	margin: auto;
	width: 960px;
}
.about {
	width: 50%;
	float: left;
}
.how-many-mail {
	width: 50%;
	float: right;
	text-align: right;
}
.how-many-mail-inner {
	background: url(icons/heart.svg) no-repeat center;
	background-size: 19px;
	padding-left: 40px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}


.tbody {
	margin-top: 40px;
	margin-bottom: 10px;
}
.pr {
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	line-height: 32px;
	margin-top: 15px;
}
.mt0 {
	margin-top: 0 !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt12 {
	margin-top: 12px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt40 {
	margin-top: 40px !important;
}
.mt50 {
	margin-top: 50px !important;
}
.w250 {
	width: 250px !important;
}
.lst::before {
	content: "· ";
}

/* MODAL */

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .75);
	opacity: 0;
	z-index: 3;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
#modal_about {
	z-index: 9;
}
#modal_about_content {
	z-index: 9;
}
#modal_faq {
	z-index: 9;
}
#modal_faq_content {
	z-index: 9;
}
.modal-main {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
	z-index: 4;
	opacity: 0;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transition: all .3s, margin-top 0s;
	-moz-transition: all .3s, margin-top 0s;
	transition: all .3s, margin-top 0s;
}
.modal-content {
	position: relative;
	top: 0;
	left: 50%;
	width: 880px;
	background: #fff;
	margin: 100px 0;
	margin-left: -440px;
	border-radius: 10px;
}
.modal-effect {
	opacity: 1;
}
.modal-content-effect {
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.modal-menu-content {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 350px;
	height: 100%;
	background: #fff;
	z-index: 4;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	opacity: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.modal-menu-content-effect {
	visibility: visible;
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
	opacity: 1;
}
.br0 {
	border-radius: 0 !important;
}
.modal-header {
	padding: 0 58px;
	height: 106px;
	background: #ebeff6;
	border-radius: 10px 10px 0 0;
}
.modal-body {
	padding: 47px 58px;
	overflow-x: auto;
}
.m-mail {
	padding: 20px 0 !important;
}
.modal-h1 {
	font-family: 'Poppins', sans-serif;
	line-height: 106px;
	font-size: 30px;
	font-weight: 600;
	float: left;
}
.modal-h2 {
	font-size: 25px;
}
.modal-p {
	font-size: 20px;
	line-height: 45px;
}
.modal-btn {
	display: inline-block;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}
.modal-footer {
	padding: 0 47px 40px 47px;
	display: flex;
	justify-content: flex-end;
}
.lg-list {
	display: inline-block;
	width: 49%;
}
.close-icon {
	background: url(icons/close.svg) no-repeat center;
	width: 20px;
	height: 20px;
	margin-top: 43px;
	float: right;
	cursor: pointer;
}
.link {
	cursor: pointer;
	color: #2c417f;
	/*-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;*/
}
.link:hover {
	color: #233b6d;
}


/* TOOLTIP */

.tooltip {
	position: relative;
	display: inline-block;
	/*z-index: 1;*/
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.tt-hg {
	bottom: 175% !important;
}

.popup {
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
	display: none;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.popup-effect {
	visibility: visible !important;
	-webkit-transform: translateY(0%) !important;
	-moz-transform: translateY(0%) !important;
	-ms-transform: translateY(0%) !important;
	transform: translateY(0%) !important;
	opacity: 1 !important;
}
.popup-inner {
	width: 960px;
	margin: auto;
	padding: 20px 0;
}
.popup-header {
	display: inline-block;
	width: calc(100% - 20px);
	margin-bottom: 10px;
}
.popup-close {
	width: 15px !important;
	height: 15px !important;
	margin-top: inherit !important;
}

.popup-notification {
	position: fixed;
	top: 11px;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	background: #fff;
	text-align: center;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 30px rgba(44, 70, 125, .1);
	display: none;
	opacity: 0;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.popup-notification-add {
	display: block !important;
	margin-top: 70px !important;
}
.mt90 {
	margin-top: 90px !important;
}

/* SEO */
.white-bg {
	float: left;
	margin: 0 auto;
	margin-top: 60px;
	background: #fff;
	width: 100%;
}
.what-is-temporary-mail {
	margin: 0 auto;
	width: 100%;
}
.p18 {
	margin: 0 auto;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}
.features {
	float: left;
	margin: 0 auto;
	margin-top: 40px;
	width: 320px;
	text-align: center;
}
.shield-icon {
	margin: 0 auto;
	margin-bottom: 12px;
	width: 35.25px;
	height: 47px;
	background: url(/css/icons/shield.svg) no-repeat center;
}
.dashboard-icon {
	margin: 0 auto;
	margin-bottom: 12px;
	width: 47px;
	height: 47px;
	background: url(/css/icons/dashboard.svg) no-repeat center;
}
.time-2-icon {
	margin: 0 auto;
	margin-bottom: 12px;
	width: 47px;
	height: 47px;
	background: url(/css/icons/time-2.svg) no-repeat center;
}

@media only screen and (max-width: 1014px) {
	.container {
		padding: 0 27px;
	}
	.container-inner {
		width: 100%;
	}
	ul.inline > li.faq {
		display: none;
	}
	.res-menu {
		display: block;
	}

	.main {
		width: 100%;
		padding: 0 27px;
		margin-top: 50px;
	}
	.email {
		margin-top: 50px;
		float: left;
		height: inherit;
		width: 100%;
	}
	.email-box-frame {
		width: 100%;
	}
	.email-box {
		width: calc(100% - 95px);
		font-size: 36px;
	}
	.copy-email {
		width: 95px;
	}
	.res-countdown-frame {
		float: left;
		margin-top: 35px;
		width: 100%;
	}
	.countdown-frame {
		float: none;
		width: 276px;
		margin: auto;
	}
	.mailbox {
		width: 100%;
		margin-top: 38px;
	}
	.mail {
		width: 100%;
	}
	.mail-from {
		width: 20%;
	}
	.mail-content {
		width: 77%;
	}
	.features {
		width: 100%;
	}
	.footer {
		width: 100%;
		padding: 0;
		margin-top: 0;
	}
	.how-many-mail {
		padding: 30px 27px;
	}
	.about {
		width: 100%;
		float: right;
		text-align: center;
		padding: 15px 27px;
		font-size: 15px;
		background: #f5f7fa;
	}
	ul.inline > li.padr10 {
		padding: 0 10px;
	}
	.how-many-mail {
		width: 100%;
		float: right;
		text-align: center;
	}
	.modal-content {
		width: 80%;
		margin-left: -40%;
	}
	.ctr {
		display: none;
	}
	.footer-inner {
		width: 100%;
	}
	.popup-inner {
		width: 100%;
		padding: 20px;
	}
	.popup-notification {
		width: calc(100% - 40px);
		left: 0;
		margin-left: 20px;
	}
}
@media only screen and (max-width: 540px) {
	.container {
		padding: 0 20px;
	}
	.quick-info {
		display: none;
	}
	.main {
		margin-top: 30px;
		padding: 0 20px;
	}
	.headline-p {
		font-size: 40px;
	}
	h2 {
		font-size: 25px;
		line-height: 35px;
		margin-top: 5px;
	}
	.email {
		margin-top: 30px;
		height: inherit;
	}
	.email-box {
		font-size: 6vw;
		width: calc(100% - 70px);
		height: 17vw;
		line-height: 17vw;
		border-radius: 10px 0 0 10px;
	}
	.copy-email {
		width: 70px;
		height: 17vw;
		border-radius: 0 10px 10px 0;
	}
	.res-countdown-frame {
		margin-top: 20px;
	}
	.footer {
		padding: 0;
	}
	.how-many-mail {
		padding: 30px 20px;
		background: #fff;
	}
	.about {
		padding: 15px 20px;
		font-size: 13px;
	}
	.modal-menu-content {
		width: 80%;
	}
	.modal-header {
		padding: 0 30px;
		height: 78px;
		line-height: 78px;
	}
	.modal-body {
		padding: 20px 30px;
	}
	.modal-h1 {
		font-size: 25px;
		line-height: inherit;
		float: left;
		max-width: calc(100% - 30px);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.modal-h2 {
		font-size: 22px;
	}
	.modal-p {
		font-size: 20px;
	}
	.lg-list {
		width: 100%;
	}
	.close-icon {
		margin-top: 29px;
	}
	.ctr {
		display: block;
	}
	.tooltip-res {
		left: inherit !important;
		right: 0 !important;
	}
	.lang-frame {
		max-width: calc(100% - 150px);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.res-l1 {
		display: none;
	}
	.res-l2 {
		display: inline-block;
		text-transform: uppercase;
	}
}
@media only screen and (max-width: 305px) {
	.tt-res305 {
		left: inherit !important;
		right: 0 !important;
	}
}