﻿body {
	background: #fff;
}
h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	font-weight: 600;
	text-align: left;
}
h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 21px;
	font-weight: 600;
	margin-top: 40px;
}
@media only screen and (max-width: 540px) {
	h1 {
		font-size: 40px;
	}
}